.container {
    background-color: #EAEAEA;
    padding: 15px;
    height: 93vh;
}

#email {
    width: 75%;
}

#nome {
    width: 50%;
}

#senha {
    width: 25%;
}

#tipo {
    width: 15%;
}

.corpo {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
}
